---
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import { getAllCategorias } from "../../database/consultas";
import BaseLayout from "../../layouts/BaseLayout.astro";
import esqueletoDev from "../../../public/roadmaps/esqueletoDev.json";
import { insertNuevoRoadmap } from "../../database/consultas";
import { insertRelacionRoadmapCategoria } from "../../database/consultas";
import '../../styles/formulario.css'
export const prerender = false

const categoriasNivel1 = await getAllCategorias();

// TODO: FALTA AÑADIR LO DE LOS ROADMAPS RELACIONADOS
// Pero quizas para ello haga falta crear 
// Tambien falta poder poner a prioridad a las categorias
if (Astro.request.method === 'POST') {
    try{
        const data = await Astro.request.formData();
        const titulo = data.get('titulo')?.toString();
        const descripcion = data.get('descripcion')?.toString();
        const checkboxes = categoriasNivel1?.filter(categoria => data.has(categoria.idNombre))
            .map(categoria => categoria.idNombre);
        const id= titulo;
        if(id && titulo  && descripcion ){
            console.log('Datos completos')
            const resultId= await insertNuevoRoadmap(id, titulo, descripcion);
            console.log(resultId)

            if(resultId==0){
                console.log(resultId)
                console.log('Roadmap creado con exito')
                console.log(checkboxes)
                checkboxes?.map((categoria)=>{
                    insertRelacionRoadmapCategoria(id, categoria)
                }
            )
                return Astro.redirect('/')               // Ahora creamos las relaciones entre las categorias y el roadmap
            }
            return Astro.redirect('/404')

        }
        console.log('Faltan datos, error crear aglo visual que señalice el error al usuario')

      }catch(e){
        console.log(e)
    }
}

---

<BaseLayout title='About roadmap.sh' permalink={'/addBD/configCrear'}>
    <SimplePageHeader
    title='Developer Roadmaps'
    description='Añade todo a la base de datos'
  />

  <form method="POST">

    <fieldset>
    <label>Titulo:</label>
    <input type="text" name="titulo" required />

    <label>Descripción:</label>
    <textarea name="descripcion" rows="4" cols="60" required/>
    </fieldset>

    <fieldset>
        <div class="checkbox-container">
            <label for="categorias">Escoge las categorías que desees incluir:</label>
            {categoriasNivel1?.map((categoria) => (
                <div class="checkbox-item">
                    <input type="checkbox" id={categoria.idNombre} name={categoria.idNombre} value={categoria.idNombre} />
                    <label for={categoria.idNombre}>{categoria.idNombre}</label>
                </div>
            ))}
        </div>
    </fieldset>

<br/>
    <button>Crear y guardar</button>
    </form>

</BaseLayout>
