---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { type OrganigramaTopicFileType,getAllOrganigramaTopicFiles } from '../../../lib/organigrama-topic';

export async function getStaticPaths() {
  const topicPathMapping = await getAllOrganigramaTopicFiles();

  return Object.keys(topicPathMapping).map((topicSlug) => {
    const topicDetails = topicPathMapping[topicSlug];
    const organigramaId = topicDetails.organigramaId;
    const topicId = topicSlug.replace(`/${organigramaId}/`, '');

    return {
      params: {
        topicId,
        organigramaId,
      },
      props: topicDetails,
    };
  });
}

const { topicId } = Astro.params;
const { file, organigramaId, organigrama, heading } = Astro.props as OrganigramaTopicFileType;
---

<BaseLayout
  title={`${heading} - roadmap.sh`}
  description={`Free resources to learn ${heading} in ${organigrama.briefTitle}. Everything you need to know about ${heading} and how it realtes to ${organigrama.briefTitle}.`}
  noIndex={true}
  permalink={`/organigrama/${organigramaId}/${topicId}`}
>
  <div class='bg-gray-50'>
    <div class='container py-16 prose prose-p:mt-0 prose-h1:mb-4 prose-h2:mb-3 prose-h2:mt-0'>
      <main id='main-content'>
        <file.Content />
      </main>
    </div>
  </div>
</BaseLayout>
