---
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import RoadmapBanner from '../../components/RoadmapBanner.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getRoadmapTopicFiles, type RoadmapTopicFileType } from '../../lib/roadmap-topic';
import type { Props } from '../guides/[guideId].astro';
import {getResourcesByCategory} from '../../database/consultas';


export const prerender = false;

const getLoadStaticData = async () => {
  const topicPathMapping = await getRoadmapTopicFiles();

  return Object.keys(topicPathMapping).map((topicSlug) => {
    const topicDetails = topicPathMapping[topicSlug];
    const roadmapId = topicDetails.roadmapId;
    const topicId = topicSlug.replace(`/${roadmapId}/`, '');

    return {
      params: {
        topicId,
        roadmapId,
      },
      props: topicDetails,
    };
  });
}

const roadmapData = await getLoadStaticData();

const { topicId } = Astro.params;
const { file, breadcrumbs, roadmapId, roadmap, heading } = roadmapData[0].props;

/*
*!-------------------------------------------------------------------------------------------------------------------
*/

const recursos = await getResourcesByCategory('PDF');

---

<BaseLayout
  title={`${heading} - roadmap.sh`}
  description={`Free resources to learn ${heading} in ${roadmap.briefTitle}. Everything you need to know about ${heading} and how it relates to ${roadmap.briefTitle}.`}
  noIndex={true}
  permalink={`/${roadmapId}/${topicId}`}
>
  <RoadmapBanner roadmapId={roadmapId} roadmap={roadmap} />
  <div class='bg-gray-50'>
    <Breadcrumbs breadcrumbs={breadcrumbs} roadmapId={roadmapId} />

    <div class='container pb-16 prose prose-p:mt-0 prose-h1:mb-4 prose-h2:mb-3 prose-h2:mt-0'>
      <main id='main-content'>
        <file.Content />

      {Object.values(recursos).map((recurso) => (
        <div class='mt-8'>
          <h2 class='text-2xl font-bold'>{recurso.title}</h2>
          <p class='text-gray-600'>{recurso.description}</p>
          <a href={recurso.url} class='text-blue-600 hover:underline'>Download</a>
        </div>
      ));
      }

      </main>
    </div>
  </div>
</BaseLayout>
