---
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import RoadmapBanner from '../../components/RoadmapBanner.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getRoadmapTopicFiles, type RoadmapTopicFileType } from '../../lib/roadmap-topic';
import type { Props } from '../guides/[guideId].astro';
import {getResourcesByCategory, getCategoriaInformacionRoadmap} from '../../database/consultas';
import type { ICategoria, IRecurso } from '../../database/dbMySQL';
import { toCodes } from 'astro:i18n';


export const prerender = false;

const getLoadStaticData = async () => {
  const topicPathMapping = await getRoadmapTopicFiles();

  return Object.keys(topicPathMapping).map((topicSlug) => {
    const topicDetails = topicPathMapping[topicSlug];
    const roadmapId = topicDetails.roadmapId;
    const topicId = topicSlug.replace(`/${roadmapId}/`, '');

    return {
      params: {
        topicId,
        roadmapId,
      },
      props: topicDetails,
    };
  });
}

const roadmapData = await getLoadStaticData();

const { topicId } = Astro.params;
console.log('topicId', topicId);

const {breadcrumbs, roadmapId, roadmap, heading } = roadmapData[0].props;


/*
*!-------------------------------------------------------------------------------------------------------------------
*/
let  recursos: IRecurso[] | undefined;
let cuerpo: ICategoria | undefined;
  if(topicId){
  recursos =  await getResourcesByCategory(topicId);
   cuerpo = await getCategoriaInformacionRoadmap(topicId);
  }

---

<BaseLayout
  title={`${heading} - roadmap.sh`}
  description={`Free resources to learn ${heading} in ${roadmap.briefTitle}. Everything you need to know about ${heading} and how it relates to ${roadmap.briefTitle}.`}
  noIndex={true}
  permalink={`/${roadmapId}/${topicId}`}
>
  <RoadmapBanner roadmapId={roadmapId} roadmap={roadmap} />
  <div class='bg-gray-50'>
    <Breadcrumbs breadcrumbs={breadcrumbs} roadmapId={roadmapId} />

    <div class='container pb-16 prose prose-p:mt-0 prose-h1:mb-4 prose-h2:mb-3 prose-h2:mt-0'>
      <main id='main-content'>

        {cuerpo &&
          <div>
            <h2>{cuerpo.idNombre}</h2>
            <p>{cuerpo.descripcion}</p>
          </div>
        }
        {!cuerpo && <p>No hay información</p>}

      <ul>
        {/* Conditional rendering using logical && operator */}
        {recursos  && recursos?.map((recurso) => (
          <li>
           <a href={recurso.enlaceFichero} target="_blank" rel="noopener noreferrer">{recurso.titulo}</a>
        </li>
    ))}

    {/* Conditional rendering for when recursos is null */}
    {(!recursos || recursos.length==0)  && <p>No hay recursos para esta categoría</p>}
      </ul>

      </main>
    </div>
  </div>
</BaseLayout>
