---
import FrameRenderer from '../../components/FrameRenderer/FrameRenderer.astro';
import RelatedRoadmaps from '../../components/RelatedRoadmaps.astro';
import RoadmapHeader from '../../components/RoadmapHeader.astro';
import { TopicDetail } from '../../components/TopicDetail/TopicDetail';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getComponentesCategoriaPrimerNivel, getComponentesCategoriaSegundoNivel,  getRoadmapById } from '../../database/consultas';
export const prerender = false;


interface Params extends Record<string, string | undefined> {
  roadmapId: string;
}

const { roadmapId } = Astro.params as Params;

// TODO: Mirar para añadir el FAQ en el archivo de datos del roadmap de la BD

const roadmapData = await getRoadmapById(roadmapId);

const componentesCategoriaPrimerNivel:string[] = [];
const componentesCategoriaSegundoNivel:[string,string][]= [];
//const componentesCategoriaTercerNivel:string[] = [];

let jsonLdSchema: Record<string, unknown>[] | undefined = [];


if (Astro.request.method === 'GET') {
  componentesCategoriaPrimerNivel.length = 0;
  try {
    const componentesPrimerNivel = await getComponentesCategoriaPrimerNivel(roadmapId);
    componentesPrimerNivel?.map((componentePrimerNivel) => {
        componentesCategoriaPrimerNivel.push(
            componentePrimerNivel.componenteCategoria);

    });

    const componentesSegundoNivel = await getComponentesCategoriaSegundoNivel(roadmapId);
    componentesSegundoNivel?.map((componenteSegundoNivel) => {
        componentesCategoriaSegundoNivel.push(
            [componenteSegundoNivel.componenteCategoria, componenteSegundoNivel.categoriaSuperior]);
         
    });
   //console.log(componentesCategoriaSegundoNivel) console.log(componentesCategoriaSegundoNivel);
  } catch (error) {
    console.log(error);
  }

}

---

<BaseLayout
  permalink={`/${roadmapId}`}
  title={roadmapData?.title ?? 'Indefinido'}
  description={roadmapData?.description}
  jsonLd={jsonLdSchema}
>
  <!-- Preload the font being used in the renderer -->
  <link
    rel='preload'
    href='/fonts/balsamiq.woff2'
    as='font'
    type='font/woff2'
    crossorigin
    slot='after-header'
  />

  <RoadmapHeader
    title={roadmapData?.title ?? 'Indefinido'}
    description={roadmapData?.description ?? 'Indefinido'}
    note={roadmapData?.note}
    roadmapId={roadmapId}

  />

  <div class='bg-gray-50 pt-4 sm:pt-12'>
    {roadmapData  && (
        <div class='container relative max-w-[1000px]'>
          <TopicDetail client:idle />

          <FrameRenderer
            resourceType={'roadmap'}
            resourceId={roadmapId}
            jsonData={roadmapData.jsonRoadmap}
            dimensions={roadmapData.dimensions}
            componentesCategoriaPrimerNivel={componentesCategoriaPrimerNivel}
            componentesCategoriaSegundoNivel={componentesCategoriaSegundoNivel}
        />

        </div>
      )
    }
    {roadmapData && <RelatedRoadmaps roadmap={roadmapData} />}
  </div>
</BaseLayout>
