---
import GridItem from '../components/GridItem.astro';
import SimplePageHeader from '../components/SimplePageHeader.astro';
import { getRoadmapAlmacenados } from '../database/consultas';
import BaseLayout from '../layouts/BaseLayout.astro';


//const roleRoadmaps = await getRoadmapsByTag('role-roadmap');
//const skillRoadmaps = await getRoadmapsByTag('skill-roadmap');

export const prerender = false;

const roadmaps= await getRoadmapAlmacenados();

---

<BaseLayout
  title='Developer Roadmaps'
  description={'Guías paso a paso para aprender diferentes metodologías, herramientas o tecnologías'}
  permalink={'/roadmaps'}
>
  <SimplePageHeader
    title='Developer Roadmaps'
    description='Guías paso a paso para aprender diferentes metodologías, herramientas o tecnologías'

  />

  <div class='flex bg-white pt-4 pb-14 sm:pt-8 sm:pb-16'>
    <div class='container'>
      <div class='grid grid-cols-1 gap-0.5 sm:grid-cols-2 sm:gap-3'>
        {roadmaps &&
          roadmaps.map((roleRoadmap) => (
            <GridItem
              url={`/${roleRoadmap.idRoadmap}`}
              title={roleRoadmap.idRoadmap}
              description={roleRoadmap.description}
            />
          ))
        }

        <!--{
          skillRoadmaps.map((skillRoadmap) => (
            <GridItem
              url={`/${skillRoadmap.id}`}
              isNew={skillRoadmap.frontmatter.isNew}
              title={skillRoadmap.frontmatter.title}
              description={skillRoadmap.frontmatter.description}
            />
          ))
        }-->
      </div>
    </div>
  </div>
</BaseLayout>
