---
import Loader from '../Loader.astro';
import './FrameRenderer.css';
import { getComponentesCategoria } from "../../database/consultas";
export const prerender = false
export interface Props {
  resourceType: 'roadmap' | 'organigrama';
  resourceId: string;
  jsonData: string;
  dimensions?: {
    width: number;
    height: number;
  };
  componentesCategoria: string[];
}

const { resourceId, resourceType, jsonData, dimensions = null, componentesCategoria} = Astro.props;

console.log(JSON.stringify(jsonData))
console.log(jsonData)

console.log(JSON.parse(JSON.stringify(jsonData)))


---

<div
  id='resource-svg-wrap'
  style={dimensions
    ? `--aspect-ratio:${dimensions.width}/${dimensions.height}`
    : null}
  data-resource-type={resourceType}
  data-resource-id={resourceId}
  data-componentes-categoria={componentesCategoria}
  data-json-data={JSON.stringify(jsonData)}
>


  <div id='resource-loader'>
    <Loader />
  </div>
</div>

<script src='./renderer.ts'></script>
