---
import Loader from '../Loader.astro';
import './FrameRenderer.css';
import {getCategoriasDeXroadmapSegunZrol} from '../../database/consultas'

export const prerender = false
export interface Props {
  resourceType: 'roadmap' | 'organigrama';
  resourceId: string;
  dimensions?: {
    width: number;
    height: number;
  };
  componentesCategoriaPrimerNivel: string[];
  componentesCategoriaSegundoNivel: [string,string][];
  componentesCategoriaTercerNivel: [string,string][];
}

const user= Astro.locals.user;
if(!user){
  return Astro.redirect("/auth/signin")
}


const { resourceId, resourceType,  dimensions = null, componentesCategoriaPrimerNivel, componentesCategoriaSegundoNivel,componentesCategoriaTercerNivel} = Astro.props;
const listaCategoriasDadoRolYroadmap = await getCategoriasDeXroadmapSegunZrol(resourceId, user?.rol)
const nombresListaCategoriasRol = listaCategoriasDadoRolYroadmap?.map((item)=> item.idNombre)

---

<div
  id='resource-svg-wrap'
  style={dimensions
    ? `--aspect-ratio:${dimensions.width}/${dimensions.height}`
    : null}
  data-resource-type={resourceType}
  data-resource-id={resourceId}
  data-componentes-categoria-primer-nivel={componentesCategoriaPrimerNivel}
  data-componentes-categoria-segundo-nivel={componentesCategoriaSegundoNivel}
  data-componentes-categoria-tercer-nivel={componentesCategoriaTercerNivel}
  data-lista-categoria-rol={nombresListaCategoriasRol}
>

<label id="contador" transition:persist></label>
  <div id='resource-loader'>
    <Loader />
  </div>
</div>

<script  src='./renderer.ts'></script>
