---
import Loader from '../Loader.astro';
import './FrameRenderer.css';
import { getComponentesCategoria } from "../../database/consultas";
export const prerender = false
export interface Props {
  resourceType: 'roadmap' | 'organigrama';
  resourceId: string;
  jsonUrl: string;
  dimensions?: {
    width: number;
    height: number;
  };
  componentesCategoria: string[];
}

const { resourceId, resourceType, jsonUrl, dimensions = null, componentesCategoria} = Astro.props;
console.log(componentesCategoria)


---

<div
  id='resource-svg-wrap'
  style={dimensions
    ? `--aspect-ratio:${dimensions.width}/${dimensions.height}`
    : null}
  data-resource-type={resourceType}
  data-resource-id={resourceId}
  data-json-url={jsonUrl}
  data-componentes-categoria={componentesCategoria}
>

  <div id='resource-loader'>
    <Loader />
  </div>
</div>

<script src='./renderer.ts'></script>
